@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
	font-family: Jetbrains Mono, monospace;
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

h1, h2, h3 {
	font-weight: bold;
}

.description {
	text-align: center;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 2fr));
	grid-template-rows: repeat(minmax(200px, 2fr));
	grid-gap: 20px;
}

.card {
	border: white 2px solid;
	border-radius: 20px;
	padding: 2%;
}

.footer {
	text-align: center;
}
